/******************* This is the main css stylesheet for ResendizP.github.io/project-2 site */

/******************* Typography */
:root {
    
    
    --sans: 'Roboto Condensed'
    --Disply:'Roboto Condensed', sans-serif; 
}

/******************* Color */

/******************* Navigation */

/******************* Layout */
section {
  
}

#first-section {
    font-family: var(--Disply);
}

/******Home page Phrase******/
h1 {
    text-align: center;
    font-family:sans-serif;
    font-size:40px;
    line-height: 50px;
    font-weight: 300;
    color: #492F1A;
}
h2 {
    color: #3C5006;
font-family: 'Roboto Condensed';
font-size: 55px;
font-style: normal;
font-weight: 200;
line-height: 125%;
margin-top: 100px;
text-align: center;
}
h3 {
    color: var(--Dark-Green, #3C5006);
    text-align: center;
    font-family: 'Roboto Condensed';
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 125%;}



    
#second-section {
    font-family: var(--sans);
}

/****** 4 images in home page****/

.flex-container {
    display:flex;
    flex-direction: row; 
   justify-content: space-evenly;
}
/******top nav bar for home******/

.topnav-home {
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.topnav-home a {
    float: left;
    color: #987F5E;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: Roboto;
    padding: 14px 16px;

}
.topnav-home a:hover{
    color: #3C5006;
}


/******top nav bar for interior pages******/
.topnav-iw {
    background-color: #F6CEB2;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    
}
.topnav-iw a {
    float: left;
    color: #987F5E;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 20px;
    padding: 13px 20px; 
}

.topnav-iw a:hover{
color: #3C5006;
}
/***********Titles********/



.firstsec {
    display: flex;
    margin-left: 139px;
   width:1136px;


}




/************subtitles**********/

.bromeliad{
   display: flex;
 

}
.test {
    color: #584730;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 200%;
}
.text-to-the-right {
    margin-left: 187px;
    margin-right: 150px;
    margin-top: -5px;
}

.text-to-the-left {
    display: flex;
}

.last-item {
    margin-right: 150px ;
}
.links {
    color: #987F5E;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
}