/******************* This is the main css stylesheet for ResendizP.github.io/project-2 site */

/******************* Typography */
:root {
    
    
    --sans: 'Roboto Condensed'
    --Disply:'Roboto Condensed', sans-serif; 
}

/******************* Color */

/******************* Navigation */

/******************* Layout */
section {
  
}

#first-section {
    font-family: var(--Disply);
}

/******Home page Phrase******/
h1 {
    text-align: center;
    font-family:sans-serif;
    font-size:40px;
    line-height: 50px;
    font-weight: 300;
    color: #492F1A;
}
h2 {
    color: #3C5006;
font-family: Roboto;
font-size: 64px;
font-style: normal;
font-weight: 200;
line-height: 125%;
}
h3 {
    color: var(--Dark-Green, #3C5006);
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 125%;}
h4 {

}
    
#second-section {
    font-family: var(--sans);
}

/****** 4 images in home page****/

.flex-container {
    display:flex;
    flex-direction: row; 
   justify-content: space-evenly;
}
/******top nav bar for home******/

.topnav-home {
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.topnav-home a {
    float: left;
    color: #987F5E;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: Roboto;
    padding: 14px 16px;

}
.topnav-home a:hover{
    color: #3C5006;
}


/******top nav bar for interior pages******/
.topnav-iw {
    background-color: #F6CEB2;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.topnav-iw a {
    float: left;
    color: #987F5E;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: Roboto;
    padding: 14px 16px; 
}

.topnav-iw a:hover{
color: #3C5006;
}
/***********Titles********/

.title {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: 125%;
    color: #3C5006;
}

.firstsec {
    display: flex;
    margin-left: 161px;
    margin-right: 139px;


}



p {
color: #584730;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 200%;
}

/************subtitles**********/

.bromeliad title {
   display: flex;
   justify-content: flex-end;

}
